out
dist
node_modules
.vscode-test/
*.vsix
src/test/workspace/content
src/test/workspace/.mdait/index.json
src/test/workspace/.mdait/terms.csv
src/test/workspace/.mdait/logs/*
src/test/sample-content/jp/*
