.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.tasks/**
out/**
docs/**
design-keeper.md
hooks.md
.github/**
node_modules/**
esbuild.mjs
.config/**
